<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content" class="flex flex-col items-center justify-center h-screen gap-y-4">
    <div th:replace="~{fragments/alerts-combined :: alerts-combined}"></div>

    <form class="flex gap-2">
        <select class="select select-primary w-full max-w-md">
            <option disabled selected>Select existing user</option>
            <option th:each="user : ${users}" th:value="${user.id}"
                    th:text="|[${user.id}] ${user.firstName}  ${user.lastName} (${user.email})|">User
            </option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a id="create-new-user-button" th:href="@{/users/create}" class="btn btn-outline btn-secondary w-full max-w-md" role="button">Create new user</a>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) --->
</th:block>
</body>
</html>
