<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <select class="select select-primary w-full max-w-xs">
        <option disabled selected>What is the best TV show?</option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.getFirstName}">User</option>
    </select>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) --->
</th:block>
</body>
</html>
